#include <windows.h> // include for version info constants
#include "resource.h"

//
// TO CHANGE VERSION INFORMATION, EDIT PROJECT OPTIONS...
//
1 VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "FileDescription",  FILE_DESCRIPTION
            VALUE "InternalName",     INTERNAL_NAME

            VALUE "CompanyName",      COMPANY_NAME
            VALUE "FileVersion",      VER_STRING
            VALUE "LegalCopyright",   LEGAL_COPYRIGHT
            VALUE "LegalTrademarks",  LEGAL_TRADEMARKS
            VALUE "OriginalFilename", ORIGINAL_FILENAME
            VALUE "ProductName",      PRODUCT_NAME
            VALUE "ProductVersion",   VER_STRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}

IDD_SETTINGS DIALOGEX 26,41,170,100
CAPTION "Column Tools Settings"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
BEGIN
  CONTROL "OK",IDB_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,90,70,50,14
  CONTROL "&Backspace Unindents",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,22,16,100,11
  CONTROL "",IDC_CHK_BSU,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,15,10,9
  CONTROL "&Indent Guides LookForward",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,22,36,100,11
  CONTROL "",IDC_CHK_IGLF,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,35,10,9
  CONTROL "Version",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_GROUP,10,70,30,11
  CONTROL "<a></a>",IDC_STC_VER,"SysLink",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LWS_TRANSPARENT,40,70,40,11
END
